@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');
.login-page {
    color: #26083c;
    background-color: #FFFFE0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
}

.logo-container {
    flex-grow: 1;
}

.logo {
    width: 100%;
    max-width: 150px;
    display: block;
    margin: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.navigation ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation ul li {
    margin-right: 5rem;
}

.navigation ul li a:hover {
    background-color: #e9e91a;
}

.navigation ul li a {
    color: #26083c;
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
}

.loginform {
    display: flex;
    justify-content: center;
    /* Center the form horizontally */
    align-items: center;
    /* Center the form vertically */
    margin: 0 auto;
    max-width: 500px;
}

.form-body {
    display: flex;
    flex-direction: column;
    align-items: left;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem;
    margin-bottom: 3rem;
    text-align: left;
}

.form__label {
    display: block;
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

.form__input {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #26083c;
    color: #fff;
    transition: background-color 0.3s ease;
    transform: translateX(-50%);
    margin-top: 1rem;
    transform: translateX(0%);
}

.btn:hover {
    background-color: #e9e91a;
}

footer {
    text-align: center;
    font-size: 0.7rem;
  }